{% extends 'presets/base.html' %}

{% load bootstrap5 %}

{% block header %}
{% include "presets/header.html" with title="W.L. Presets - Delete" %}
{% endblock %}

{% block main %}
<main class="d-flex container-xl mt-5 flex-column flex-xl-row align-items-center">
    <div class="form-container container-fluid col-md-6 col-xl-6 p-4">
        <h2>Are you sure you want to delete?</h2>
        <form class="d-flex flex-column mt-5" action="{% url 'users:delete' %}" method="post">
            {% csrf_token %}
            {% buttons %}
            <div class="d-flex justify-content-between">
                <a href="{% url 'presets:account' user.id %}" class="col-xl-4 mt-3 btn btn-primary">No, don't delete</a>
                <input class="col-xl-4 mt-3 btn btn-danger" type="submit" value="Yes, delete account">
            </div>            
            {% endbuttons %}
        </form>
    </div>
</main>
{% endblock %}